base58==2.1.1
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==37.0.2
idna==3.3
ipfshttpclient==0.8.0a2
multiaddr==0.0.9
netaddr==0.8.0
pycparser==2.21
requests==2.28.0
six==1.16.0
urllib3==1.26.9
varint==1.0.2
